#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;


.scatter-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

.scatter-grid div {
	    border: 1px solid #ccc;
        padding: 10px;
    }

	
.graph-container {
        display: flex;
        justify-content: space-between;
    }

.graph-container > div {
        flex: 1;
        margin-right: 20px; 
    }



}